{% extends 'base.html' %}

{% block content %}
<!-- Forms -->
{% if not disable_form %}
<div class="container">
    <form>
      <div class="row">
          <div class="col">
            <div class="radio">
                <label><input type="radio" name="optradio" value="article" data-toggle="collapse" data-target="#wikiSearch" checked>{{ _("enter-name-of-article") }}</label>
            </div>
          </div>
        <div class="col collapse" id="wikiSearch">
          <div class="form-group">
              <input type="text" class="form-control" name="wikiSearchPole" id="wikiSearchPole" placeholder="{{ _("prague") }}, ({{ _("default-value") }})">
          </div>
	  <div class="form-group">
	  	<input type="text" id="project-language" name="language" value="cs">
		<span>.</span>
		<select id="project-project" name="project">
			<option value="wiki" selected="">wikipedia</option>
		</select>
		<span>.org</span>
	  </div>
        </div>
          <div class="col">
            <div class="radio">
                <label><input type="radio" name="optradio" value="item" data-toggle="collapse" data-target="#item">{{ _("enter-number-of-item") }}</label>
            </div>
          </div>
        <div class="col collapse" id="item">
          <div class="form-group">
              <input type="text" class="form-control" name="cislo" id="cislo" placeholder="Q1085 ({{ _("prague") }}, {{ _("default-value") }})">
          </div>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="coordinate" data-toggle="collapse" data-target="#souradnice">{{ _("enter-coordinates") }}</label>
        </div>
        <div class="col collapse" id="souradnice">
          <div id="error2" class="alert alert-danger fade in hidden">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>Error!</strong> pole souradnice je povinne.
          </div>

          <div class="indent">
            <div class="col">
              <div class="radio">
                <label><input type="radio" name="format" value="degdec" data-toggle="collapse" data-target="#degdec" checked>{{ _("degree-decimal") }}<label>
              </div>
              <div class="radio">
                <label><input type="radio" name="format" value="dms" data-toggle="collapse" data-target="#dms">{{ _("dms") }}</label>
              </div>
            </div>

            <div class="col collapse in" id="degdec">
              <div class="form-group">
                <label>{{_("lat") }}</label>
                  <input id="lat-degdec" type="number" min="-90" max="90" name="lat-degdec" class="form-control" placeholder={{ _("lat") }}>

                  <br>

                  <label>{{ _("lon") }}</label>
                  <input id="lon-degdec" type="number" min="-180" max="180" name="lon-degdec" class="form-control" placeholder={{ _("lon") }}>
              </div>
            </div>

            <div class="col collapse" id="dms">
              <div class="form-group">
                  <label>{{ _("lat") }}</label>
                  <input id="lat-deg" type="number" min="-90" max="90" name="lat-deg" class="form-control" placeholder={{ _("deg") }}>
                  <input id="lat-min" type="number" min="0" max="60" name="lat-min" class="form-control" placeholder={{ _("min") }}>
                  <input id="lat-sec" type="number" min="0" max="60" name="lat-sec" class="form-control" placeholder={{ _("sec") }}>
              </div>
              <div class="form-group">
                <label>{{ _("lon") }}</label>
                <input id="lon-deg" type="number" min="-180" max="180" name="lon-deg" class="form-control" placeholder={{ _("deg") }}>
                <input id="lon-min" type="number" min="0" max="60" name="lon-min" class="form-control" placeholder={{ _("min") }}>
                <input id="lon-sec" type="number" min="0" max="60" name="lon-sec" class="form-control" placeholder={{ _("sec") }}>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
            <label>{{ _("select-displayed") }}</label>
          </div>
        <div class="col">
          <input id="nafocene" type="checkbox" name="check" value="nafoceno">
          <label for="ch1">{{ _("photographed") }}</label>
        </div>
        <div class="col">
          <input id="nenafocene" type="checkbox" name="check" value="nenafoceno" checked>
          <label for="ch2">{{ _("unphotographed") }}</label>
        </div>
        <div class="col">
          <div class="form-group">
              <label>{{ _("enter-radius") }}</label>
              <input id="radius" type="text" name="radius" class="form-control" placeholder="5 ({{ _("default-value") }})">
          </div>
        </div>
        <div class="col-3">
              <button type="button" class="btn btn-primary" id="hledej">{{ _("search") }}</button>
              <span id="shortUrl"></span>
        </div>
    </form>
  </div>
{% endif %}
<span class="hidden" id="payload">{{ payload }}</span>
  <div class="container">
      <div class="row">
          <h1 id="processing" class="hidden">{{_("processing")}}</h1>
          <h1 id="error" class="hidden">{{_("unknown-error")}}</h1>
          <div id="mapcontainer"></div>
          <div class="col" id="stat">
			  <p>{{ _("stats-before") }} <span id="statnum"></span> {{ _("stats-after") }}.</p>
          </div>

      </div>
  </div>

<script src="{{config.STATIC_URL}}formlogic.js"></script>
<script src="{{config.STATIC_URL}}map.js"></script>
{% if disable_form %}
<script>
	GetValues();
</script>
{% endif %}
{% endblock %}
