{% extends 'base.html' %}

{% block content %}
<!-- Forms -->
<div class="container">
    <form>
      <div class="row">
          <div class="col">
            <div class="radio">
                <label><input type="radio" name="optradio" value="article" data-toggle="collapse" data-target="#wikiSearch" checked>{{ locale["enter-name-of-article"] }}</label>
            </div>
          </div>
        <div class="col collapse" id="wikiSearch">
          <div class="form-group">
              <input type="text" class="form-control" name="wikiSearchPole" id="wikiSearchPole" onchange="updateAutocomplete()" placeholder="{{ locale["prague"] }}, ({{ locale["default-value"] }})">
          </div>
	  <div class="form-group">
	  	<input type="text" id="project-language" name="language" value="cs">
		<span>.</span>
		<select id="project-project" name="project">
			<option value="wiki" selected="">wikipedia</option>
		</select>
		<span>.org</span>
	  </div>
        </div>
          <div class="col">
            <div class="radio">
                <label><input type="radio" name="optradio" value="item" data-toggle="collapse" data-target="#item">{{ locale["enter-number-of-item"] }}</label>
            </div>
          </div>
        <div class="col collapse" id="item">
          <div class="form-group">
              <input type="text" class="form-control" name="cislo" id="cislo" placeholder="Q1085 ({{ locale["prague"] }}, {{ locale["default-value"] }})">
          </div>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="coor" data-toggle="collapse" data-target="#souradnice">{{ locale["enter-coordinates"] }}</label>
        </div>
        <div class="col collapse" id="souradnice">
          <div id="error2" class="alert alert-danger fade in hidden">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>Error!</strong> pole souradnice je povinne.
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput">Souřadnice lat</label>
              <input id="lat" type="text" name="lat" class="form-control" id="formGroupExampleInput" placeholder="50.088611 ({{ locale["prague"] }}, {{ locale["default-value"] }})">
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput2">Souřadnice lon</label>
              <input id="lon" type="text" name="lon" class="form-control" id="formGroupExampleInput2" placeholder="14.421389 ({{ locale["prague"] }}, {{ locale["default-value"] }})">
          </div>
        </div>
        <div class="col">
            <label>{{ locale["select-displayed"] }}</label>
        </div>
        <div class="col">
          <input id="nafocene" type="checkbox" name="check" value="nafoceno">
          <label for="ch1">{{ locale["photographed"] }}</label>
        </div>
        <div class="col">
          <input id="nenafocene" type="checkbox" name="check" value="nenafoceno" checked>
          <label for="ch2">{{ locale["unphotographed"] }}</label>
        </div>
        <div class="col">
          <div class="form-group">
              <label for="formGroupExampleInput">{{ locale["enter-radius"] }}</label>
              <input id="radius" type="text" name="radius" class="form-control" id="formGroupExampleInput" placeholder="5 ({{ locale["default-value"] }})">
          </div>
        </div>
        <div class="col-3">
              <button type="button" class="btn btn-primary" id="hledej">{{ locale["search"] }}</button>
              <span id="shortUrl"></span>
        </div>

      </div>
    </form>
  </div>

  <div class="container">
      <div class="row">
          <div class="col" id="map" style="padding-top:2.5%; width:70%">
          </div>
          <div class="col" id="stat">
			  <p>{{ locale["stats-before"] }} <span id="statnum"></span> {{ locale["stats-after"] }}.</p>
          </div>

          <!-- TODO: Add link to changelocale -->
      </div>
  </div>

<script>
    var addr = null;
    function GetValues() {
        var type = $('input[name="optradio"]:checked').val();
        
        var subtype = "nenafoceno";
        if ($('#nafocene')[0].checked && $('#nenafocene')[0].checked) subtype = "all";
        else if ($('#nafocene')[0].checked && !$('#nenafocene')[0].checked) subtype = "nenafoceno";
        else if (!$('#nafocene')[0].checked && $('#nenafocene')[0].checked) subtype = "nenafoceno";

        var payload = {
            type: type,
            subtype: subtype,
            radius: $('#radius').val(),
        };

        if (type == "article") {
            payload["article"] = $('input[name="wikiSearchPole"]').val();
            payload["project"] = $('#project-language').val() + $('#project-project').val();
        } else if (type == "item") {
            payload["item"] = $('input[name="cislo"]').val();
        } else if (type == "coor") {
            payload["lat"] = $('input[name="cislo"]').val();
            payload["lon"] = $('input[name="lon"]').val();
        }

        $.get('map', payload, function(data) {
            $('#map').html(data);
            $.get("stats", function (data, status) { $('#statnum').text(data) })
        })
    }

    $( document ).ready(function() {
    
        $.get("stats", function (data, status) { $('#statnum').text(data) })

        $("#wikiSearch").collapse('show');
        $( "#hledej" ).click(function() {
            $("#map").removeClass("hidden");
            GetValues();
        });

        $('#wikiSearch').on('show.bs.collapse', function () {
            $('#item').collapse('hide')
            $('#souradnice').collapse('hide')
        })
        $('#item').on('show.bs.collapse', function () {
            $('#wikiSearch').collapse('hide')
            $('#souradnice').collapse('hide')
        })

        $('#souradnice').on('show.bs.collapse', function () {
            $('#wikiSearch').collapse('hide')
            $('#item').collapse('hide')
        })

    });

</script>
{% endblock %}