{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>{{locale["admin-users"]}}</h1>
    <ul>
        {% for user in users %}
        <li>
            <a href="{{ url_for('admin_user', id=user.id) }}">{{user.username}}</a>
            {% if user.is_active == False %}
            ({{ _("inactive") }})
            {% else %}
            {% if user.is_admin == True %}
            ({{ _("administrator") }})
            {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}