.ui-autocomplete {
	background-color: rgb(221, 221, 221);
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}

.stat {
	font-family: "Times New Roman", Times, serif;
	font-size:150%;
	text-decoration:underline;
}
.no-hover {
	text-decoration: none;
}

.menuitem {
	float: right !important;
	color: white !important;
}

textarea {
	width: 100%;
}

.bigmap { 
	height: 600px;
}

#map {
	margin-top: 10px;
}